body {
  display: flex;
  justify-content: center;
}

.weapon-details {
  display: flex;
  justify-content: space-between;
}

.abel {
  font-family: 'Abel', sans-serif;
}

.title {
  text-align: center;
  letter-spacing: 2px;
}
